<!DOCTYPE html>
<html>
  <head>
    <title>OpenBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon-16x16.png") %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="OpenBook">
    <meta property="og:description" content="React/Rails Good Reads Clone">
    <meta property="og:image" content="https://i.ibb.co/tCywnRB/Screen-Shot-2020-06-11-at-4-16-07-PM.png">
    <meta property="og:url" content="https://openbook-aa.herokuapp.com/#/">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300|Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2a8b761bd7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
